span#narayam-osk-box {
	cursor: pointer;
	position: relative;
	height: 20px;
	right: -18px; 
	width: 20px;
	/* @embed */
	background: url('jquery.keyboard/keyboard.png') no-repeat scroll right center transparent;
}


